
.navbar-button {
    padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: black;
    margin-right: 10px; /* Add margin between buttons */
  }
  
  .navbar-button:hover {
    background-color: #0056b3; /* Darker blue background color on hover */
  }
  

  