.active{
    background-color: #a9a9a9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
    position: sticky;
    top:0;
}

nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;

}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color:white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}