.pet-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.no-pets-message {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
}

.pet-card {
  position: relative;
  /* Added for positioning the edit and delete buttons */
  border-radius: 16px;
  box-shadow: 0px 8px 40px 0px rgba(24, 18, 7, 0.08);
  background-color: var(--White, #fff);
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: center;
  flex-basis: calc(33.33% - 20px);
  /* 3 pets in one line */
  max-width: calc(33.33%- 20px);
  /* 3 pets in one line */
  box-sizing: border-box;
  transition: all 0.3s ease;
  cursor: pointer;
  /* Added to indicate clickable */
}

.pet-card:hover {
  box-shadow: 4px 5px 0 0 rgba(0, 0, 0, 0.8);
}

.pet-image {
  aspect-ratio: 1.08;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.pet-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 16px;
  width: 100%;
}

.pet-name {
  font: 700 24px Grandstander, -apple-system, Roboto, Helvetica, sans-serif;
  margin: 0;
}

.pet-breed {
  color: var(--Black, #181207);
  font: 400 16px/160% Manrope, -apple-system, Roboto, Helvetica, sans-serif;
  margin: 0;
}

.pet-info {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  padding: 0 36px;
}

.pet-age {
  background-color: #cceddf;
  border-radius: 30px;
  font-family: Manrope, sans-serif;
  padding: 5px 8px;
}

.pet-distance {
  background-color: #ffeecd;
  border-radius: 30px;
  font-family: Manrope, sans-serif;
  padding: 5px 8px;
}

@media (max-width: 991px) {
  .pet-card {
    flex-basis: calc(50% - 20px);
    /* 2 pets in one line on smaller screens */
    max-width: calc(50% - 20px);
    /* 2 pets in one line on smaller screens */
  }
}

.pet-card-options {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.options-button {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  
}

.vertical-dots {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000; /* Adjust the color of the dots */
  font-weight: 600;
  font-size: 20px;
  border-radius: 50%;
  padding-top: 5px;
  height: 30px; /* Adjust the size as needed */
  width: 30px; /* Adjust the size as needed */
  
}

.pet-options-dropdown {
  position: absolute;
  top: 30px;
  right: -110px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  padding: 8px;
  min-width: 120px;
  max-width: 200px;
  text-align: center;
  display: flex;

}

.pet-options-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  padding: 10px;
}

.pet-options-dropdown button:hover {
  background-color: #f0f0f0;
}

.deletePet {
  color: #dd0426;
}

.pet-options-dropdown {
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
  font-family: Manrope, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Darken background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of everything */
  overflow: hidden; /* Hide scrollbars */
}

.popup-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  min-width: 30%;
  max-width: 50%;
  max-height: 100%;
  overflow: auto; /* Enable scrolling if needed */
  box-sizing: border-box;
}


.title-buttons-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.discard-button,
.upload-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.discard-button {
  color: red;
  font-size: 12px;

}

.upload-button {
  color: black;
  background-color: #ffa903;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 10px;
}

.upload-pet-title {
  margin: 20px;
}

.dropzone {
  background-color: #f6f6f6;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
}

.dropzone:hover {
  border-color: #ffcc00;
}

.dropzone-icon svg{
  color:#ccc
}

.selected-images {
  display: flex;
  flex-wrap: wrap;
}

.selected-image {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.remove-image-button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 8px;
}

.pet-details {
  margin-bottom: 1px;
}

.pet-details input,
.pet-details select,
.pet-details textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  transition: background-color 0.3s, border-color 0.3s;
}

.pet-details input[type="text"]:focus,
.pet-details select:focus,
.pet-details textarea:focus {
  outline: none;
  border-color: #FFA903;
  border-width: 2px;
  background-color: #fff;
}

.pet-details-row {
  display: flex;
  gap: 10px;
}

.upload-pet-title {
  margin-top: 0;
  margin-bottom: 20px;
  order: 1;
}

.ds-buttons {
  order: 2;
  display: flex;
  justify-content:space-between;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .popup-content {
    width: 90%;
    max-width: 90%;
    padding: 10px;
  }
}

@media screen and (max-height: 600px) {
  .popup-content {
    max-height: 90%;
  }
}
