@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: red ; */
}

h1,
p {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #5b21b6, #1e40af);
  color: #fff;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.button {
  border: 1px solid #000;
  background: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.dropdowns-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.dropdownFilters {
  max-width: 300px;
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 4px 10px;
  min-width: 100px;
  min-height: 50px;
  margin: 4px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 500;
}

.category {
  color: #2e2e2e;
  font-size: 14px;
}

.sex {
  color: #515151;
  font-size: 10px;
}

.color {
  color: #515151;
  font-size: 10px;
}

.breed {
  color: #515151;
  font-size: 10px;
}

.age {
  color: #515151;
  font-size: 10px;
}

#filters-button .active{
    background-color: #0d0d0d;
    color: #fff;
}