* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif;
  }

.displayImages{
    width: 50%;
    margin-left: 5%;
    margin-top: 1.5rem;
}

.displayImages img{
    max-width: 500px;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 100px;
}

.heading-one {
    font-size: clamp(1rem, 3vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  position: absolute;
  top: 240px;
  left: 700px;
}

.heading-two {
    font-size: clamp(1rem, 3vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  position: absolute;
  top: 400px;
  left: 700px;
}

.heading-three {
    font-size: clamp(1rem, 3vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  position: absolute;
  top: 560px;
  left: 700px;
}

.heading-four {
    font-size: clamp(1rem, 3vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  position: absolute;
  top: 1350px;
  left: 15px;
}


.details {
    font-size: clamp(1rem, 1vw, 1rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  position: absolute;
  top: 320px;
  left: 700px;
}

.details2 {
    font-size: clamp(1rem, 1vw, 1rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  position: absolute;
  top: 480px;
  left: 700px;
}

.details3 {
    font-size: clamp(1rem, 1vw, 1rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
  position: absolute;
  top: 640px;
  left: 700px;
}


.back-arrow {
    padding: .5rem 1rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 150px;
  left:15px;
}
.back-arrow:hover {
    background-color: #e48f0f;
  }

  .wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .accordian {
    width: 500px;
  }

  .item {
    background: #e48f0f;
    margin-bottom: 100px;
    padding: 10px 20px;
  }

  .title {
    color: #4c4c4c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .content {
    color: rgb(31, 30, 29);
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    max-height: 9999px;   
    transition: all 0.5s cubic-bezier(1,0,1,0);
}