.wholepage {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 40px;
  
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
    
  }

.logo-link {
    text-decoration: none;
}

.logo-container {
    
    background-image: url('/public/images/loho.png');
    background-size: contain;
    border-radius: 60px;
    cursor: pointer;
    height: 70px;
    width: 220px;
    
}


.main-content {
    display: flex;
    
}

.shelter-profile {
    padding-top: 100px;
    flex: 1;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}



.shelter-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.shelteredit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shelter-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.verified {
    margin: -5px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

.shelter-location {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

.shelter-description {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    margin-bottom: 10px;
}

.shelter-description span {
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.shelteredit {
    padding: 20px;
    border-radius: 8px;
    
  }
  .edit-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .shelteredit input[type="text"],
  .shelteredit textarea {
    width: 200%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
  
  .shelteredit textarea {
    resize: vertical;
  }
  
  .shelteredit button {
    display: block;
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #81edba; /* Yellow button color */
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .shelteredit button:hover {
    background-color: #79cfad; /* Darker yellow on hover */
  }
  

.upload{
    margin-top: 10px;
}
.edit{
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 500;
    
}

.availablepets {
    flex: 2;
}

.availablepets h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-file-input {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #e1e1e1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    padding: 10px;
  }

  .custom-file-input:hover {
    background-color: #f0f0f0;
  }
  
  .custom-file-input:focus {
    outline: none;
  }
  
  
  .custom-file-input::after {
    content: 'Drop Your Photo or Browse';
    display: block;
    font-size: 14px;
    color: #777;
    text-align: center;
    margin-top: 10px;
  }
  
  