/* UploadPetForm.css */

.upload-pet-btn {
  
  background-color: #ffa903;
  color: Black;
  border: none;
  padding: 15px 30px; /* Larger padding for bigger button */
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 0 auto; /* Center the button */
  font-size: 18px; /* Larger font size */
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Add scroll when content overflows */
  max-height: 80vh; /* Limit the height of the popup */
}

.close-popup {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #f44336; /* Red color for the cross */
  z-index: 1001; /* Ensure the close button is above the popup */
}

.close-popup:hover {
  color: #b71c1c;
}

.popup h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.popup form label {
  display: block;
  margin-bottom: 10px;
}

.popup form input[type="text"],
.popup form select,
.popup form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.popup form select {
  appearance: none;
  background-color: #f5f5f5;
}

.popup form input[type="file"] {
  margin-top: 5px;
}

.popup form button {
  background-color: #ff9f43;
  color: #fff;
  border: none;
  padding: 15px 30px; /* Larger padding for bigger button */
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px; /* Larger font size */
  display: block;
  margin: 20px auto 0; /* Center the button with margin top */
}

.popup form button:hover {
  background-color: #ff8c00;
}

