.hero-image {
    background-image: url('../../Assets/login_bg_image.png');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    image-rendering: optimizeQuality;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0.5;
    margin-top: 20px;
    color: black;
    background-color: #fff;
}

.login-container{
    padding: 20px;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-back-button{
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6.4em;
    padding: 0;
    cursor: pointer;
}

.login-back-button .login-home-button{
    color: black;
    font-size:medium;
    flex-direction: row;
    font-weight: bold;
    text-decoration: none;
    display:flex;
    margin-bottom: 1em;
    margin-left: 10px;

}

.login-back-button p{
    margin-left: 5px;
    font-weight: bold;
    color: black;
}



.logo {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    padding-left: 6.7em;
    margin: right 0%;;
    padding-right: 0%;
}

.login-container h1 {
    /* font-family: "Pacifico", cursive; */
     font-family: "Madimi One", sans-serif; 
      /*font-family: "Concert One", sans-serif; Another font option */
      /* font-family: "Lilita One", sans-serif; Another font option */
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    margin-left: 1.3em;
    padding:0;
}

.login-action-links {
    align-self: flex-start; /* Aligns to the left side, assuming flex-direction is column */
    padding-left: 105px; 
    padding-bottom: 5px;
    display: flex;
}

.login-links {
    text-align: left; /* Ensures text within the paragraph tags is left-aligned */
    margin-right: 10px; /* Removes margin to align with the edge if needed */
    margin-top: 10px;
    font-size: 15px;
    color:#bcb9b9;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.login-links:hover{
    color: rgb(158, 90, 221);
}

.login-links::after{
    content: ''; /* Necessary for the pseudo-element to display */
    display: block; /* Treat the pseudo-element like a block for positioning */
    width: 0; /* Start with a width of 0 and expand on hover */
    height: 2px; /* The height of your 'underline' */
    background: #FFA903; /* The color of your 'underline' */
    transition: width .3s; /* Smooth transition for the underline */
    position: absolute; /* Position absolutely within the relative parent */
    bottom: -3px; /* Position at the bottom of the link */
    left: 0;
}

.login-links:hover::after, .login-links.active::after {
    width: 100%; /* Expand the pseudo-element to the full width on hover */
}

.login-links.active{
    color: black;
}

.login-container body{
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    justify-content: center;

}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.login-form label {
    margin-bottom: 8px;
    font-weight: bold;
}


.login-form button {
    background-color: #FFA903;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    width: 200px;
    height: 45px;
    padding: 10px 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;  
    box-shadow: 0 0 10px rgba(255, 169, 3, 0.5);
}

.login-form button:hover {
    background-color: rgb(158, 90, 221);
    color:white;
    box-shadow: 0 0 15px rgba(158, 90, 221, 0.7);  
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-color:#f4f4f4;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus{
    outline: none;
    border-color: #FFA903;
    border-width: 2px;
    background-color: #fff;
}

.login-form input[type="text"]:hover,
.login-form input[type="password"]:hover {
    background-color: white;
    border-color:#FFA903;
    border-width: 2px;
}

.invalid-error p {
    color: #D8000C; /* A softer shade of red */
    background-color: #FFD2D2; /* Light red/pink background for contrast */
    border: 1px solid #D8000C;
    padding: 10px;
    margin: 10px 0; /* Adjust based on your form's spacing */
    border-radius: 5px; /* Soft rounded corners */
    font-size: 0.9em; /* Slightly smaller font size */
    text-align: center; /* Centered text can sometimes look cleaner */
  }
